:root {
    --font-family: Helvetica, sans-serif;
    --color-primary: #2cc76a;
    --color-secondary: #232a31;
    --color-tertiary: #333;
    --color-quaternary: #70747a;
    --color-light: #fff;
    --color-dark: #000;
    --color-hover: #ccc;
    --color-recommended: #f45c57;
    --font-size-h1: 54px;
    --font-size-h2: 36px;
    --font-size-h3: 20px;
    --font-size-p: 32px;
    --font-size-small: 20px;
    --font-size-large: 24px;
    --navbar-height: 80px;
    --padding-horizontal: 2rem;
    --padding-vertical: 5rem;
    --padding-small: 15px;
    --padding-medium: 20px;
    --padding-large: 50px;
    --margin-small: 15px;
    --margin-medium: 20px;
    --margin-large: 25px;
    --margin-xlarge: 50px;
    --line-height: 24px;
    --transition-time: 0.5s;
    --border-radius: 5px;
    --icon-size: 60px;
    --plan-max-width: 275px;
    --plan-price-size: 120px;
    --plan-btn-height: 75px;
}

/* General Styles */

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
}

h1, h2, h3 {
    color: var(--color-tertiary);
}

p {
    color: var(--color-quaternary);
}

/* Navbar */

nav {
    position: relative;
}

.navbar-container {
    width: 100%;
    height: 80px;
    background-color: var(--color-secondary);
    padding: 0 2rem;
    position: relative;
}

.logo {
    width: 50px;
    margin-top: 15px;
}

.navbar-items {
    position: absolute;
    right: 0;
    display: inline-block;
    line-height: 80px;
    height: 80px;
    margin: 0;
}

.navbar-items li {
    display: inline-block;
    list-style: none;
    margin-left: 25px;
    text-transform: uppercase;
}

.navbar-items a {
    text-decoration: none;
    color: var(--color-light);
    transition: var(--transition-time);
}

.navbar-items a:hover {
    color: var(--color-hover);
}

.default-btn {
    padding: 15px 20px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
}

.default-btn:hover {
    background-color: #22bb5f;
    color: var(--color-hover);
}

/* Main Banner */

.main-banner {
    background-image: url('../img/mainbanner.png');
    padding: 10rem 0;
    background-size: cover;
    background-position: center;
}

.main-banner h1,
.main-banner p {
    color: var(--color-light);
    text-align: center;
    font-weight: bold;
    text-shadow: var(--color-dark) 3px 2px 3px;
}

.main-banner h1 {
    font-size: var(--font-size-h1);
}

.main-banner p {
    font-size: var(--font-size-p);
}

/* Services */

.services-container {
    padding: var(--padding-vertical) 0;
}

.services-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li {
    flex: 1 1 200px;
    list-style: none;
    padding: var(--padding-medium);
}

.fas {
    font-size: var(--icon-size);
    margin-bottom: var(--margin-small);
}

.fa-shield-alt {
    color: var(--color-primary);
}

.fa-rocket {
    color: #ef3f29;
}

.fa-comments {
    color: #ef8f29;
}

.services-container h3 {
    margin-bottom: var(--margin-large);
}

.services-container p {
    line-height: var(--line-height);
}

/* Plans */

.prices-container {
    padding: var(--padding-vertical) 0;
    text-align: center;
}

.prices-container h2 {
    font-size: var(--font-size-h2);
}

.prices-container p {
    font-size: var(--font-size-small);
}

.plans-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: var(--margin-xlarge) auto 0;
}

.plan {
    flex: 1;
    max-width: var(--plan-max-width);
    margin: 0 var(--margin-medium);
    display: inline-block;
}

.plan ul {
    padding: 0;
}

.plan li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: var(--color-tertiary);
}

.plan .price {
    width: var(--plan-price-size);
    height: var(--plan-price-size);
    line-height: var(--plan-price-size);
    border-radius: 50%;
    background: var(--color-primary);
    color: var(--color-light);
    text-align: center;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.plan .plan-name {
    text-transform: uppercase;
    font-size: var(--font-size-h3);
    font-weight: bold;
    color: var(--color-light);
    background-color: #202b34;
    padding: var(--padding-large) 0;
}

.plan .plan-btn {
    background-color: var(--color-primary);
    color: var(--color-light);
    font-size: var(--font-size-large);
    height: var(--plan-btn-height);
    line-height: var(--plan-btn-height);
    cursor: pointer;
}

.plan .recommended {
    background-color: var(--color-recommended);
}

/* Search Domain */

.searchdomain-container {
    background-color: #34454e;
    text-align: center;
    padding: 5rem 0;
}

.searchdomain-container h2 {
    color: var(--color-light);
    font-size: 42px;
    margin-bottom: var(--margin-small);
}

.searchdomain-container input {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.searchdomain-container input[type="text"] {
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}

.searchdomain-container input[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 15px 30px; /* Padrao pra botoes */
    font-size: 24px;
    cursor: pointer;
    opacity: 0.9;
    transition: var(--transition-time);
}

.searchdomain-container input[type="submit"]:hover {
    opacity: 1;
}

/* Contact */

.contact-container {
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contact-container h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.contact-container p {
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input,
.contact-container textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}

.contact-container textarea {
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}

.contact-container input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #2cc76a;
    color: var(--color-light);
    cursor: pointer;
}

/* Footer */

footer {
    text-align: center;
    font-weight: bold;
    margin: 20px 0 100px;
}

/* Responsiveness */

/* Small laptops */
@media (max-width: 1110px) {
    .plans-container {
        width: 95%;
    }

    .plan {
        margin: 0 5px;
    }
}

/* Tablets */
@media screen and (max-width: 900px) {
    .main-banner p {
        font-size: 32px;
        padding: 0 6rem;
    }

    .searchdomain-container {
        padding: 2rem 4rem;
    }
}

/* Mobile (576px) */
@media (max-width: 576px) {
    html,
    body {
        overflow-x: hidden;
    }

    .navbar-items li {
        font-size: 12px;
        margin-left: 10px;
    }

    .main-banner p {
        padding: 0 2rem;
    }

    .services-container ul {
        text-align: center;
        flex-direction: column;
    }

    .plans-container {
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
    }

    .plan {
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .searchdomain-container h2 {
        font-size: 28px;
    }

    .searchdomain-container input[type="text"] {
        width: 100%;
    }

    .contact-container {
        padding: 3rem 2rem;
    }

    .contact-container input,
    .contact-container textarea {
        width: 100%;
        margin: 10px 0;
    }
}