:root {
    --title-color: #333;
    --background-color: #f0ebf8;
    --font-family: "Parkinsans", Arial, Helvetica, sans-serif;
    --paragraph-color: #444;
    --border-color: #ccc;
    --header-color: #3ab77d;
}


* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

body{
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
}

p, label {
    color: var(--paragraph-color)
}

input{
    border: none;
    border-bottom: 1px solid var(--border-color);
    padding: 10px 0px;
    /*aumenta o espaçamento entre os inputs*/
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"]{
    width: 400px;
}


textarea{
    padding: 10px 5px;
    width: 400px;
}
/*Cabeçalho*/

.header{
height: 160px;
padding: 20px;
background-color: var(--header-color);
}

.header h3{
    color: #fff;
    margin-top: 0;
}

.form-container{
    background-color: #fdfdfd;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}

.form-header{
    border-bottom: 1px solid var(--border-color);
    height: 45px;
}

.form-header p{
    color: var(--header-color);
    border-bottom: 2px solid var(--header-color);
    width: 100px;/*largura do texto e linha dentro do container header*/
    text-align: center;/*alinha o texto no centro da sua propria largura*/
    margin: 0 auto;/*alinha o texto no centro do container*/
    text-transform: uppercase;/*transforma o texto em maiusculo*/
    line-height: 45px;/*alinha o texto no centro da linha*/
}

.form-body{
    padding: 30px;

}
.form-body p{
    margin-bottom: 20px;

}
.form-title{
    margin-bottom: 15px;
}

.required-field{
    color: red;
}

.box-input{
    margin-bottom: 35px;
}

.block{
    display: block;
    margin: 0 30px 30px 0;
}

.optional-box{
    display: inline-block;
    margin: 0px 30px 30px 0;
}
.optionals-list li{
    list-style: none;
    margin-bottom: 5px;
}

.box-input p{
    margin-bottom: 15px;
}

.btn-submit{
    background-color: var(--header-color);
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    /*define o tempo pra uma transição ser ativada
    por exemplo com hover*/
}

.btn-submit:hover{
    background-color: #fff;
    color: var(--header-color);
    border: 2px solid var(--header-color);
    /*invertendo as cores do botão ao passar o mouse*/
}


