.box-model{
    margin: 20px;
    padding: 20px;
    border: 20px solid #555;
    outline: 20px solid #333;/*Podemos dar cor a borda da margin*/

    background-color: #444;
}

#texto{
    background-color: #111;
    color: #fff;
    border: none;
}